@model IEnumerable<MongoWebGallery.Models.Tag>

<div class="container my-5">
    <div class="bg-dark bg-opacity-75 p-4 rounded shadow">
        <h2 class="text-white mb-4">Zarządzaj tagami</h2>
        <a asp-action="Create" class="btn btn-primary mb-3">Dodaj nowy tag</a>

        <div class="table-responsive">
            <table class="table table-striped table-hover table-dark">
                <thead>
                    <tr>
                        <th>Nazwa</th>
                        <th class="text-end">Akcje</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var tag in Model)
                    {
                        <tr>
                            <td>@tag.Name</td>
                            <td class="text-end">
                                <div class="d-flex justify-content-end">
                                    <a asp-action="Edit" asp-route-id="@tag.Id" class="btn btn-sm btn-secondary mx-1">Edytuj</a>
                                    <form asp-action="Delete" asp-route-id="@tag.Id" method="post" style="display:inline;">
                                        <button type="submit" class="btn btn-sm btn-danger mx-1">Usuń</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
