@model MongoWebGallery.Models.Category

<div class="container my-5">
    <div class="bg-dark bg-opacity-75 p-4 rounded shadow">
        <h2 class="text-white mb-4">Utwórz nową kategorię</h2>
        <form asp-action="Create" method="post" class="shadow-lg p-4 bg-light rounded mx-auto" style="max-width: 600px;">
            <div class="form-group mb-3">
                <label asp-for="Name" class="form-label">Nazwa kategorii</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="d-flex justify-content-between">
                <button type="submit" class="btn btn-primary">Utwórz</button>
                <a asp-action="Index" class="btn btn-secondary">Anuluj</a>
            </div>
        </form>
    </div>
</div>
