html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url('/images/background-image.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    overflow-y: auto;
}

.create-page,
.login-page {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3vh;
    padding-bottom: 5vh;
}

.no-scroll {
    overflow: hidden;
    height: 100vh;
}

.card {
    max-width: 100%;
    border-radius: 1rem;
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.footer {
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
